html {
  height: 100%;
  margin: 0;
}
body {
  min-height: 100%;
  min-width: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ebeeeeef !important;
  font-family: "Architects Daughter", cursive;
  text-align: center;
  line-height: 30px;
}

h1 {
  word-spacing: 0.3em;
  letter-spacing: 0.2em;
  font-family: "Architects Daughter", cursive;
  padding: 20px;
  align-content: center;
  display: flex;
}
header {
  word-spacing: 0.5em;
  letter-spacing: 0.2em;
}
.navbar {
  font-family: "Architects Daughter", cursive;
  background: #abacacef !important;
  padding: 3%;
}
.user-form {
  height: 100px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding-bottom: 50%;
}
#gif {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
result {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#full-container {
  position: relative;
  min-height: 100vh;
}
#footer-container {
  padding-bottom: 1.5rem;
}
p {
  padding-top: 4rem;
  margin-top: 1rem;
}
footer {
  font-family: "Architects Daughter", cursive;
  letter-spacing: 0.6em;
  font-weight: 2em;
  display: inline;
  position: absolute;
}
